@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  textarea {
    background-color: #d9d9d9;
    border-radius: 15px;
  }

  textarea.fixAlign {
    padding: 5px;
  }

  .error {
    color: red;
  }

  .success {
    color: blue;
  }

  #updateButton {
    width: 100%;
    background-color: #55bdcb;
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
  }
}

.background {
  background-color: white;
  border-radius: 15px;
  padding: 0px 20px 10px 10px;
  overflow: auto;
}

.belowFloats {
  clear: both;
  display: block;
  margin: auto;
}

label,
input {
  display: block;
}

label {
  text-align: left;
  padding-top: 5px;
  font-size: 20px;
}

input:not([type="file"]) {
  background-color: #d9d9d9;
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 100%;
  padding-left: 10px;
}

.leftWidth {
  width: 47%;
}

.rightWidth {
  width: 47%;
}
