.removePadding
{
    margin-top: 0px;
    margin-bottom: 0px;
}

.floatLeft
{
    float: left;
}

.floatRight
{
    float: right;
}

.resize
{
    font-weight: bolder;
    font-size: 25px;
}

.titleBar
{
    background-color: #55bdcb;
    padding: 10px;
    overflow: auto;
    border-radius: 15px;
    font-weight:bold;
}

.contentContainer
{
    width: 90%;
    margin: 30px auto;
    overflow: auto;
    background-color: #6EFFF6;
    border-radius: 15px;
}

.content
{
    margin: 0px;
}

.backdrop
{
    background-color: #D9D9D9;
}

.layout
{
    padding-bottom: 1px;
    padding-top: 1px;
    margin: 10px;
    border-radius: 15px;
}

h2
{
    color: black;
}