.background
{
    background-color: white;
    border-radius: 15px;
    padding: 0px 20px 10px 10px;
    overflow: auto;
}

.belowFloats
{
    clear:both;
    display:block;
    margin: auto;
}

label, input
{
    display: block;
}

label 
{
    text-align: left;
    padding-top: 5px;
    font-size: 20px;
}

input:not([type='file'])
{
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 100%;
    padding-left: 10px;
}

.leftWidth
{
    width: 47%;
    margin-bottom: 20px;
}

.rightWidth
{
    width: 47%;
}

.updateButton
{
    width: 100%;
    background-color: #55BDCB;
}