@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

.postBackground
{
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    overflow: auto;
    display:flex;
}

.postBackground button
{
    padding: 0;
    width:10%;
}

#updateReview
{
    width: 100%;
    background-color: #55BDCB;
    margin-top: 10px;
}

.updateReview
{
    background-color: #6AEDC6;
    padding: 10px;
}

textarea
{
    background-color:#D9D9D9;
    border-radius: 15px;
}

textarea.fixAlign
{
    padding: 5px;
}

textarea.whiteBackDrop
{
    background-color:white;
}

.mainPostContent
{
    display:flex;
    width:80%
}

.mainReviewContent
{
    width:100%
}

h3
{
    margin: 10px;
}

p
{
    text-align: center;
}

#edit
{
    border-radius: 15px 0px 0px 15px;
    background-color: #55BDCB;
}

.delete
{
    border-radius: 0px 15px 15px 0px;
    background-color: #DC6060;
}

.delete.leftCornerRounded
{
    border-radius: 15px 0px 0px 15px;
}

.belowFloats
{
    clear:both;
    display:block;
    margin: auto;
}

#description
{
    width: 100%;
    padding: 5px;
    text-align: left;
}

.postBackground i
{
    font-size: 30px;
}

#cancelButton
{
    background-color: #D9D9D9;
}

#deleteButton
{
    background-color: #DC6060;
}

#container
{
    padding: 10px;
    overflow: auto;
}

#deleteTextFormat
{
    margin-bottom: 10px;
    display: block;
}

#reviewTitle
{
    background-color: #55BDCB;
    padding: 5px;
    width: 100%;
}

.success
{
    color: blue;
}

.error
{
    color: red;
}
}